/*****TAG*****/

body {
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding: 100px;
    margin: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    font-family: 'Benne', serif;
    font-weight:600;
    font-size: 1.2rem;
}

span {
    text-decoration: underline;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;   
    font-size: 2rem; 
}

hr {
    border-style: dotted none none;
    color: #a9d3d3;
    border-width: 10px;
    width: 60px;
    margin: 50px auto;
}



/*****CLASS*****/

.top-container {
    background-color: #EAF6F6;
    width: 100%;
    position: relative;
    padding-top: 200px;
}
.top-cloud {
    position: absolute;
    right: 400px;
    top: 100px;
}
.bottom-cloud {
    position: absolute;
    left: 400px;
}






.middle-container {
    background-color: #f4f6ff;
}
.profile {
    width: 50%;
    margin: auto;
    padding: 100px;
}
.profile-img {
    width: 200px;
}
.intro {
    width: 50%;
    margin: auto;
}
.skills {
    padding-bottom: 300px;
}
.skill-row {
    width: 50%;
    text-align: left;
    margin: auto; 
}
.apple-img {
    border-radius: 100%;
    width: 300px;
    float: left;
    margin-right: 30px;
}
.contact-me {
    width: 50%;
    margin: auto;     
}

.BUTTON_JKF {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FDFDFD;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;  
    font-size: 1.6rem; 
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 100px;
 }
.BUTTON_JKF:hover {
    background: #A5B9D8;
    background-image: -webkit-linear-gradient(top, #A5B9D8, #DEE8FF);
    background-image: -moz-linear-gradient(top, #A5B9D8, #DEE8FF);
    background-image: -ms-linear-gradient(top, #A5B9D8, #DEE8FF);
    background-image: -o-linear-gradient(top, #A5B9D8, #DEE8FF);
    background-image: -webkit-gradient(to bottom, #A5B9D8, #DEE8FF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }







.bottom-container {
    background-color: #66BFBF;
    padding: 40px;
}
.footer-link {
    margin: 10px;
    font-size: 1.2rem;
}
 .footer {
    font-weight:normal;
    color: #EAF6F6;
    font-size: 0.9rem;
    padding: 20px;
}